@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&family=Work+Sans:wght@300;400&display=swap');

body {
	--colSize: 100ch;
	--colSizeLg: 94ch;
	--primary: #0600c3;
	--primary-active: #4f00c3;
	--text: #180029;
	--border: #dbd7d6;
	--bg: #fcfaff;
	--bgLight: rgb(55 49 58 / 15%);
	--thumb-bg: #dbdbdb;
	--scrollbar-bg: #dbdbdb;
	--info: #3f51b5;
	--disabled: #fcfaff;
	--monospace: menlo, inconsolata, monospace;

	--accentA: #40ccd0;
	--accentB: #73cf17;
	--accentC: #e46767;
	--accentD: #f99006;

	--family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, sans-serif;
	--regular: 300;
	--bold: 400;
	
	margin: 0;
	scrollbar-width: thin;
	scrollbar-color: var(--thumb-bg) var(--scrollbar-bg);
	font-weight: var(--regular);
	font-size: 17px;
}

@media (max-width: 480px) {
	body {
		font-size: 15px;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		--primary: #888ba7;
		--primary-active: #ff79a6;		;
		--text: #dad5dd;
		--border: #37313a;
		--bg: #191622;
		--thumb-bg: #191622;
		--bgLight: rgb(55 49 58 / 30%);
		--scrollbar-bg: #37313a;
		--pain: #993d42;
		--gain: #c4cd7a;
	}
}


body::-webkit-scrollbar {
	height: 12px;
	width: 12px;
}
body::-webkit-scrollbar-track {
	background: var(--scrollbar-bg);
}
body::-webkit-scrollbar-thumb {
	background-color: var(--thumb-bg);
	border-radius: 0.25rem;
	border: 3px solid var(--scrollbar-bg);
	transition: background-color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s, border-color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: var(--regular);
	line-height: 1.5;
	letter-spacing: .02rem;
}

h1 {
	font-size: 1.9rem;
}

h2 {
	font-size: 1.7rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.3rem;
}

h5 {
	font-size: 1.2rem;
}

p {
	margin: 0;
	line-height: 1.6;
	font-size: 1rem;
}

hr {
	margin: 1rem 0;
	opacity: 0.1;
}

a {
	color: inherit;
}

a.link {
	color: var(--primary);
	transition: color calc(var(--duration, .15s)/2) var(--bezier, cubic-bezier(.445, .05, .55, .95));
}

.link:hover {
	color: var(--primary-active);
}

ul {
	display: grid;
	place-content: flex-start stretch;
	grid-gap: 0.5rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

code {
	font-family: menlo, inconsolata, monospace;
	color: var(--text);
	background: var(--border);
	padding: 1rem;
	margin: 0 auto 0 0;
	border-radius: 0.25rem;
	width: 100%;
	max-width: 75ch;
	overflow-x: auto;
}

strong, b {
	font-weight: var(--bold);
}

.section-title {
	font-size: 13px;
	letter-spacing: 3px;
	opacity: .75;
	text-transform: uppercase;
	position: relative;
	margin: 0 auto 0.75rem 0;
	display: grid;
	grid-gap: 0.5rem;
	/* border-bottom: 1px solid var(--border); */
}

.section-title--link {
	text-decoration: none;
}

.section-title:not(.section-title--link)::after {
	content: "";
	display: block;
	height: 2px;
	background: var(--border);
}

hr {
	background: var(--border);
	height: 1px;
	border: none;
}

@media (prefers-color-scheme: dark) {
	.section-title::after {
		/* background: linear-gradient(90deg, rgba(55,49,58,1) 0%, rgba(55,49,58,.3) 100%); */
	}
}
