@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
	--colSize: 75ch;
	--link: #020033;
	--primary: #0600c3;
	--primary-active: #4f00c3;
	--text: #180029;
	--border: #dbd7d6;
	--bg: #fcfaff;
	--bgInverted: #cdc8d0;
	--bgLight: rgb(55 49 58 / 15%);
	--thumb-bg: #dbdbdb;
	--scrollbar-bg: #dbdbdb;
	--info: #3f51b5;
	--disabled: #fcfaff;
	--monospace: menlo, inconsolata, monospace;

	--accentA: #393fe3;
	--accentB: #0a6662;
	--accentC: #e46767;
	--accentD: #f99006;	

	--family: 'Poppins', -apple-system, BlinkMacSystemFont, sans-serif;
	--titleSize: 12px;
	--regular: 400;
	--bold: 600;
	
	margin: 0;
	scrollbar-width: thin;
	scrollbar-color: var(--thumb-bg) var(--scrollbar-bg);
	font-weight: var(--regular);
}

@media (min-width: 768px) {
  body {
    --titleSize: 17px;
		--colSize: 640px;
  }
}

@media (min-width: 1152px) {
  body {
    --titleSize: 24px;
		--colSize: 784px;
  }
}

/* @media (prefers-color-scheme: dark) {
	body {
		--link: #888ba7;
		--primary: #888ba7;
		--primary-active: #ff79a6;		;
		--text: #dad5dd;
		--border: #37313a;
		--bg: #191622;
		--bgInverted: #dad5dd;
		--thumb-bg: #191622;
		--bgLight: rgb(55 49 58 / 30%);
		--scrollbar-bg: #37313a;
		--pain: #993d42;
		--gain: #c4cd7a;
	}
} */


body::-webkit-scrollbar {
	height: 12px;
	width: 12px;
}
body::-webkit-scrollbar-track {
	background: var(--scrollbar-bg);
}
body::-webkit-scrollbar-thumb {
	background-color: var(--thumb-bg);
	border-radius: 0.25rem;
	border: 3px solid var(--scrollbar-bg);
	transition: background-color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s, border-color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: var(--regular);
	line-height: 1.5;
	letter-spacing: .02rem;
}

h1 {
	font-size: calc(var(--titleSize) * 1.9);
}

h2 {
	font-size: calc(var(--titleSize) * 1.7);
}

h3 {
	font-size: calc(var(--titleSize) * 1.5);
}

h4 {
	font-size: calc(var(--titleSize) * 1.3);
}

h5 {
	font-size: calc(var(--titleSize) * 1.2);
}

p {
	margin: 0 auto 0 0;
	line-height: 1.6;
	font-size: var(--titleSize);
	max-width: 48rem;
}

p em {
	font-size: calc(var(--titleSize) * 0.875);
}

hr {
	margin: 1rem 0;
	opacity: 0.1;
}

a {
	color: inherit;
}

a.link {
	color: var(--link);
	transition: color calc(var(--duration, .15s)/2) var(--bezier, cubic-bezier(.445, .05, .55, .95));
}

.link:hover {
	color: var(--primary-active);
}

ul {
	display: grid;
	place-content: flex-start stretch;
	grid-gap: 0.5rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

code {
	font-family: menlo, inconsolata, monospace;
	color: var(--text);
	background: var(--border);
	padding: 1rem;
	margin: 0 auto 0 0;
	border-radius: 0.25rem;
	width: 100%;
	max-width: 75ch;
	overflow-x: auto;
}

strong, b {
	font-weight: var(--bold);
}

.section-title {
	display: grid;
	grid-gap: 0.5rem;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
	margin: 0 auto 0.75rem 0;
}

.section-title--link {
	text-decoration: none;
}
